.mdl-data-table {
    width: 100%;
    margin-bottom: 1rem;
}

.mdl-data-table th:first-of-type {
    text-align: left;
    width: 40px;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    width: 100%;
}

.mdl-data-table thead {
    display: block;
}

.mdl-data-table tbody {
    height: 60vh;
    display: block;
    overflow-y: scroll;
}

.mdl-data-table tbody tr.is-selected {
    background-color: #ffc;
}

.mdl-data-table tbody tr {
    background-color: #e3e3e3;
}